<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RA3online.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RA3online.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RA3online.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>zh-CN</value>
            </setting>
        </RA3online.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RA3online.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RA3ModKey" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="RA3MapKey" serializeAs="String">
                <value>test</value>
            </setting>
        </RA3online.Properties.Settings>
    </applicationSettings>
</configuration>